<div cdkDropList (cdkDropListDropped)="drop($event)">
  <!-- <div *ngFor="let service of viewC.services" cdkDrag>
    {{ service.service }}
  </div> -->

  <!-- <app-dashboard-card
    
    [name]="service.service"
    [spend]="service.spending"
    cdkDrag
  ></app-dashboard-card> -->
</div>
<!-- <div cdkDropList (cdkDropListDropped)="drop($event)">
  <app-dashboard-card
    *ngFor="let service of srv"
    [name]="service.service"
    [spend]="service.spending"
    cdkDrag
  ></app-dashboard-card>
</div> -->
